USE [master]
GO
/****** Object:  Database [ASPNET_SCHEDULE_20160212173107_58dbbf71ac604b8f9ffb0b988e5a41bb]    Script Date: 25.04.2016 16:08:41 ******/
CREATE DATABASE [ASPNET_SCHEDULE_20160212173107_58dbbf71ac604b8f9ffb0b988e5a41bb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aspnet-Schedule-20160212173107.mdf', FILENAME = N'D:\Study\Розподілені інформаційно-аналітичні системи\dias-schedule\Schedule.Net4\Schedule\App_Data\aspnet-Schedule-20160212173107.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'aspnet-Schedule-20160212173107_log.ldf', FILENAME = N'D:\Study\Розподілені інформаційно-аналітичні системи\dias-schedule\Schedule.Net4\Schedule\App_Data\aspnet-Schedule-20160212173107_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASPNET_SCHEDULE_20160212173107_58dbbf71ac604b8f9ffb0b988e5a41bb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASPNET_SCHEDULE_20160212173107_58dbbf71ac604b8f9ffb0b988e5a41bb]
GO
/****** Object:  Table [dbo].[Classrooms]    Script Date: 25.04.2016 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classrooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Number] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Classrooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Form3]    Script Date: 25.04.2016 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form3](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[LessonType] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Form3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Groups]    Script Date: 25.04.2016 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[StudentsAmount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GroupWorkloads]    Script Date: 25.04.2016 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupWorkloads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[LessonType] [nvarchar](max) NULL,
	[Hours] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GroupWorkloads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 25.04.2016 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Lessons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScheduleItems]    Script Date: 25.04.2016 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[ClassroomId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[DayOfWeek] [nvarchar](max) NULL,
	[LessonNumber] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ScheduleItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 25.04.2016 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartsOn] [datetime] NOT NULL,
	[EndsOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Semesters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 25.04.2016 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeacherWorkloads]    Script Date: 25.04.2016 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherWorkloads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[PerWeek] [int] NOT NULL,
	[PerYear] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TeacherWorkloads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_LessonId]    Script Date: 25.04.2016 16:08:41 ******/
CREATE NONCLUSTERED INDEX [IX_LessonId] ON [dbo].[Form3]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 25.04.2016 16:08:41 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[Form3]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupId]    Script Date: 25.04.2016 16:08:41 ******/
CREATE NONCLUSTERED INDEX [IX_GroupId] ON [dbo].[GroupWorkloads]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonId]    Script Date: 25.04.2016 16:08:41 ******/
CREATE NONCLUSTERED INDEX [IX_LessonId] ON [dbo].[GroupWorkloads]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassroomId]    Script Date: 25.04.2016 16:08:41 ******/
CREATE NONCLUSTERED INDEX [IX_ClassroomId] ON [dbo].[ScheduleItems]
(
	[ClassroomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupId]    Script Date: 25.04.2016 16:08:41 ******/
CREATE NONCLUSTERED INDEX [IX_GroupId] ON [dbo].[ScheduleItems]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonId]    Script Date: 25.04.2016 16:08:41 ******/
CREATE NONCLUSTERED INDEX [IX_LessonId] ON [dbo].[ScheduleItems]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SemesterId]    Script Date: 25.04.2016 16:08:41 ******/
CREATE NONCLUSTERED INDEX [IX_SemesterId] ON [dbo].[ScheduleItems]
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 25.04.2016 16:08:41 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[ScheduleItems]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 25.04.2016 16:08:41 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[TeacherWorkloads]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Form3]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Form3_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Form3] CHECK CONSTRAINT [FK_dbo.Form3_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[Form3]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Form3_dbo.Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Form3] CHECK CONSTRAINT [FK_dbo.Form3_dbo.Teachers_TeacherId]
GO
ALTER TABLE [dbo].[GroupWorkloads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GroupWorkloads_dbo.Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupWorkloads] CHECK CONSTRAINT [FK_dbo.GroupWorkloads_dbo.Groups_GroupId]
GO
ALTER TABLE [dbo].[GroupWorkloads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GroupWorkloads_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupWorkloads] CHECK CONSTRAINT [FK_dbo.GroupWorkloads_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[ScheduleItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleItems_dbo.Classrooms_ClassroomId] FOREIGN KEY([ClassroomId])
REFERENCES [dbo].[Classrooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleItems] CHECK CONSTRAINT [FK_dbo.ScheduleItems_dbo.Classrooms_ClassroomId]
GO
ALTER TABLE [dbo].[ScheduleItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleItems_dbo.Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleItems] CHECK CONSTRAINT [FK_dbo.ScheduleItems_dbo.Groups_GroupId]
GO
ALTER TABLE [dbo].[ScheduleItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleItems_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleItems] CHECK CONSTRAINT [FK_dbo.ScheduleItems_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[ScheduleItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleItems_dbo.Semesters_SemesterId] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleItems] CHECK CONSTRAINT [FK_dbo.ScheduleItems_dbo.Semesters_SemesterId]
GO
ALTER TABLE [dbo].[ScheduleItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleItems_dbo.Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleItems] CHECK CONSTRAINT [FK_dbo.ScheduleItems_dbo.Teachers_TeacherId]
GO
ALTER TABLE [dbo].[TeacherWorkloads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TeacherWorkloads_dbo.Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeacherWorkloads] CHECK CONSTRAINT [FK_dbo.TeacherWorkloads_dbo.Teachers_TeacherId]
GO
USE [master]
GO
