
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <div class="row">
        <div class="col-md-4">
            <p><img class="img-responsive" src="/Content/Images/logo1.png"></p>
        </div>
        <div class="col-md-8">
            <h1>ASP.NET Schedule Admin</h1>
            <p class="lead"></p>

        </div>
    </div>

</div>