html {
    
}

body {
    padding-top: 50px;
    padding-bottom: 20px;

    background-image: url(Images/background5.jpg);
    /*background-size: 100%;*/
    background-repeat: repeat-x;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*Navbar*/
.navbar-custom{
    /*background-image: url(Images/navbar-background2.jpg);
    background-size: 100%;*/
    
    background-color: rgb(53, 38, 95);
}

.navbar-custom a {
    color: white;
}

/*ADMIN*/
.admin-layout-container {
    margin-top: 10px;
}

.admin-menu {
    margin-top: 20px;
}